<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<center>
	
		<h1>Employee List</h1>

		<body>

			<table>
                <tr>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Primary Skill</th>
                  <th>Location</th>
                </tr>

              {% for row in results %}
                <tr>
                  <td> {{ row.emp_id }} </td>
                  <td> {{ row.first_name }} </td>
                  <td> {{ row[2] }} </td>
                  <td> {{ row[3] }} </td>
                  <td> {{ row[4] }} </td>
                </tr>
              {% endfor %}
                
            </table>

            

		</body>
	
</center>
</html>
