<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee List</h1>

		<body bgcolor="lightgrey">

			<form action="/listemp" autocomplete="on" method="POST">
                				
                <p>{{ emp_id }}</p>
                <p>{{ first_name }}</p>
                <p>{{ last_name }}</p>
                <p>{{ pri_skill }}</p>
                <p>{{ location }}</p>

			</form>

		</body>
	</font>
</center>
</html>