<!DOCTYPE html>
<html>
<head>
	<title>Manage Employee</title>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
	<div class="topnav">	
		<form action="/" autocomplete="on" method = "GET">
			<button type="submit">HOME</button>
		</form>
		<form action="/listemp" autocomplete="on" method = "GET">
            <button type="submit">EMPLOYEE LIST</button>
		</form>
		<form action="/toattendance" autocomplete="on" method = "POST">
			<button type="submit">ATTENDANCE</button>
		</form>
		<form action="/topayroll" autocomplete="on" method = "POST">
			<button type="submit">PAYROLL</button>
		</form>
		<form action="/tomanageemp" autocomplete="on" method = "POST">
			<button type="submit">MANAGE EMPLOYEE</button>
		</form>
	</div>


	<h1>Manage Employee</h1><br><br><br>


	<div style="width: fit-content; margin: auto;">
	<form action="/toAddEmp" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button type="submit">ADD EMPLOYEE</button>
	</form><br><br><br><br>
	<form action="/toRemEmp" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button type="submit">REMOVE EMPLOYEE</button>
	</form><br><br><br><br>
	<form action="/tosearcheditEmp" autocomplete="on" method = "GET" style="width: fit-content; margin: auto;">
		<button type="submit">EDIT EMPLOYEE</button>
	</form><br><br><br><br>
	<form action="/toGetEmp" autocomplete="on" method = "POST" style="width: fit-content; margin: auto;">
		<button type="submit">SEARCH EMPLOYEE</button>
	</form><br><br><br><br>

</div>
</body>
</head>
</html>
