<!DOCTYPE html>
<html>
<head>
	<title>Delete Employee Information</title>
	
</head>
<body>
	
	
	<center>
		<br><br><br>
		<h1 style="color: rgb(0, 124, 143);">DELETE EMPLOYEE INFORMATION</h1><br><br><br>
		
		<body bgcolor="lightgrey">
			
			<form action="/deleteemp" autocomplete="on" method="POST">
				
				<p style="color: grey">Please Enter Employee ID To Remove Employee.</p><br><br>

				<p>Employee ID:</p><br> <input style="height:22pt; font-size:16pt;" type="number" name="emp_id" autofocus size="40"><br><br><br><br>
				
				<form action="/remeemp" autocomplete="on" method="POST">
					<button type="submit">REMOVE EMPLOYEE</button>
				</form>
			</form>
			
			
		</body>
	</center>
</body>

</html>
