<!DOCTYPE html>
<html>
<head>
	<title>Delete Employee Information</title>
	
</head>
<body>
	
	
	<center>
		<br><br><br>
		<h1>DELETE EMPLOYEE INFORMATION</h1><br><br><br>
		
		<body>
			
			<form action="/rememp" autocomplete="on" method="POST">
				
				<p>Please Enter Employee ID To Remove Employee.</p><br><br>

				<p>Employee ID:</p><br> <input type="number" name="emp_id" autofocus size="40"><br><br><br><br>
				
				<form action="/remeemp" autocomplete="on" method="POST">
					<button type="submit">REMOVE EMPLOYEE</button>
				</form>
			</form>
			
			
		</body>
	</center>
</body>

</html>
